# See http://help.github.com/ignore-files/ for more about ignoring files.

# 1. SHARED

# System Files
**/.DS_Store
**/Thumbs.db

# Dependencies
**/node_modules

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# IDE - VSCode
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# Misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/testem.log
**/typings

# 2. ANGULAR

# Compiled output
sporter-front/dist
sporter-front/tmp
sporter-front/out-tsc

# e2e
sporter-front/e2e/*.js
sporter-front/e2e/*.map
